<div class="container">
  Nome: <input type="text" name="nome" #nome> <br> <br>
  Cognome: <input type="text" name="cognome" #cognome> <br> <br>
  Indirizzo: <input type="text" name="ind" #ind> <br> <br>
  Telefono: <input type="text" name="tel" #tel> <br> <br>
  Email: <input type="mail" name="mail" #mail> <br> <br>
  Data Prenotazione: <input type="date" name="data" #data> <br> <br>
  Ora Prenotazione: <input type="time" name="ora" #ora> <br> <br>
  <button (click)="Inserisci(nome, cognome, ind, tel, mail, data, ora)"> Inserisci </button><br>
</div>
<br>
<br>
{{ mess }}
<br>
<br>
<div class="container">
  <app-visita-list  [V]="Visite"></app-visita-list>

</div>
<!-- <app-visita *ngIf="selectedV" [Vs]="selectedV"></app-visita> -->
